ncclient
wheel
paramiko
pykerberos
pyOpenSSL
pypsrp
pywinrm
toml
pexpect>=4.5
python-daemon
pyyaml
six
requests
jsons
ansible-builder
ansible-tower-cli
certifi
charset-normalizer
click
distro
gssapi
ibmsecurity
kerberos
krb5
psycopg2-binary
pyspnego
python-memcached
selinux
git+https://github.com/vmware/vsphere-automation-sdk-python